page-home {
  //div1{
  // background-color: yellow;
  //}
  h2 {
    color: #50dc14;
    font-style: italic;
    font-family: "Microsoft JhengHei";
  }
  #span1 {
    font-size: 20px;
    font-style: italic;
    color: #a67f56;
  }

  .ion1-content {
    background-color: rgba(225, 225, 31, 0.25);
  }
  .header1{
    background-color: rgba(225, 225, 31, 0.25);
  }
}
